[submodule "mega-mailer-src"]
	path = mega-mailer-src
	url = git@github.com:zryambus/mega-mailer-src.git
[submodule "mega-mailer-ui"]
	path = mega-mailer-ui
	url = git@github.com:zryambus/mega-mailer-ui.git
